.blog-title {
    // text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    padding: 0 20px;
}

.page-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.post-meta {
    font-size: 14px;
    font-style: italic;
    color: #555;
}

.post-title {
    margin-bottom: 0;
}